#works{
    margin:0 auto;
    min-height: calc(100vh - 5rem);
    width:100vw;
    max-width:75rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.workstitle{
    margin:1.25rem 0;
    font-size: 3rem;
    font-weight: 600;
    color:white;
    transition: transform 0.3s ease-in-out;
}
.workstitle:hover {
    transform: scale(1.05);
}
.worksDesc{
    font-weight:300;
    font-size: 1.1rem;
    max-width:50rem;
    color:whitesmoke;
}
.worksDesc:hover{
    transform: translateY(-5px);
}
.worksImgs{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 65rem;
    width: 90%;
    gap: 1rem;
    margin-top: 2rem;
}
.worksImg{
    object-fit: cover;
    height: 20rem;
    margin:0.5rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.worksImg:hover {
    transform: scale(1.05); /* Scale effect on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
.workBtn{
    padding:0.75rem 3rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    color: white;
    margin:3rem 0;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.workBtn:hover {
    background: linear-gradient(135deg, #dd2476, #ff512f); /* Button hover animation */
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
@media screen and (max-width:785px) {
    .worksImg {
        height:30vw;
    }

    .workstitle{
        font-size: 2.5rem;
    }.worksDesc {
        font-size: 1rem;
        max-width: 40rem;
      }
    
      .workBtn {
        font-size: 1rem;
        padding: 0.6rem 2.2rem;
      }
    }
    
    @media screen and (max-width: 585px) {
      .worksImg {
        height: 47vw;
        width: 45vw;
      }
    
      .workstitle {
        font-size: 2rem;
      }
    
      .worksDesc {
        font-size: 0.9rem;
        max-width: 40rem;
      }
    
      .workBtn {
        font-size: 0.9rem;
        padding: 0.6rem 1.5rem;
      }
    }